body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.lifetime-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    grid-gap: 1px;
}

.week-block {
    min-width: 10px;
    min-height: 10px;
    background-color: #ddd;
    display: inline-block;
    aspect-ratio: 1 / 1;
}
